a.css#css_crackend {
  mix-blend-mode: exclusion;
  border: 3px groove #54a1be;
  color: #56a7c6;
  text-shadow: black 0px 0px 3px;
  transition-duration: 0.7s;
  background-image: linear-gradient(33deg, #54a1be 25%, #000053 25%);
  border-radius: 10% 20px;
  font-size: 20px;
}

a.css#css_crackend:hover {
  transition-duration: 0.7s;
  background-color: #000053;
  border-radius: 5% 40px;
  font-size: 25px;
}

a.css#css_gitsune {
  mix-blend-mode: exclusion;
  border: 3px groove #967d58;
  color: black;
  text-shadow: #ffffff 0px 0px 3px;
  transition-duration: 0.7s;
  background-image: linear-gradient(33deg, #836039 25%, #b9b2a8 25%);
  border-radius: 10% 20px;
  font-size: 20px;
}

a.css#css_gitsune:hover {
  transition-duration: 0.7s;
  background-image: linear-gradient(33deg, #836039 25%, #b9b2a8 25%);
  border-radius: 5% 40px;
  font-size: 25px;
}

a.css#css_phoenixml {
  mix-blend-mode: exclusion;
  border: 3px groove #fda917;
  color: #ffee81;
  text-shadow: black 0px 0px 3px;
  transition-duration: 0.7s;
  background-image: linear-gradient(33deg, rgba(253, 169, 23, 0.85) 25%, rgba(133, 3, 0, 0.77) 25%);
  border-radius: 10% 20px;
  font-size: 20px;
}

a.css#css_phoenixml:hover {
  transition-duration: 0.7s;
  background-image: linear-gradient(33deg, rgba(253, 169, 23, 0.85) 25%, rgba(133, 3, 0, 0.77) 25%);
  border-radius: 5% 40px;
  font-size: 25px;
}
a.css#css_default {
  mix-blend-mode: exclusion;
  border: 3px groove #b9b2a8;
  text-shadow: black 0px 0px 3px;
  transition-duration: 0.7s;
  color: #7e8389;

  background-image: linear-gradient(33deg, rgb(52, 14, 46) 25%, rgba(100, 100, 100, 0.95) 25%);
  border-radius: 10% 20px;
  font-size: 20px;
}

a.css#css_default:hover {
  transition-duration: 0.7s;
  color: #7e8389;

  background-image: linear-gradient(33deg, rgb(52, 14, 46) 25%, rgba(100, 100, 100, 0.95) 25%);
  border-radius: 5% 40px;
  font-size: 25px;
}

form {
  margin-top: 15px
}

/*backgroud*/
h2{
  margin:auto;
  color:white;
  mix-blend-mode:difference;
  font-size:150px;
}p{
   margin:auto;
   color:white;
   mix-blend-mode:difference;
 }
html {
  height:100%;
}

body {
  margin:0;
}


.bg {
  animation:slide 5s ease-in-out infinite alternate;
  background-image: linear-gradient(33deg, #54a1be 25%, #000053 25%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:6s;
}

.bg3 {
  animation-duration:7s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(21, 109, 156, 0.68);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-33%, -33%);
}

h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
/*backgroud*/
