a.css#css_crackend {
  mix-blend-mode: exclusion;
  border: 3px groove #54a1be;
  color: #56a7c6;
  text-shadow: black 0px 0px 3px;
  transition-duration: 0.7s;
  background-image: linear-gradient(33deg, #54a1be 25%, #000053 25%);
  border-radius: 10% 20px;
  font-size: 20px;
}

a.css#css_crackend:hover {
  transition-duration: 0.7s;
  background-color: #000053;
  border-radius: 5% 40px;
  font-size: 25px;
}

a.css#css_gitsune {
  mix-blend-mode: exclusion;
  border: 3px groove #967d58;
  color: black;
  text-shadow: #ffffff 0px 0px 3px;
  transition-duration: 0.7s;
  background-image: linear-gradient(33deg, #836039 25%, #b9b2a8 25%);
  border-radius: 10% 20px;
  font-size: 20px;
}

a.css#css_gitsune:hover {
  transition-duration: 0.7s;
  background-image: linear-gradient(33deg, #836039 25%, #b9b2a8 25%);
  border-radius: 5% 40px;
  font-size: 25px;
}

a.css#css_phoenixml {
  mix-blend-mode: exclusion;
  border: 3px groove #fda917;
  color: #ffee81;
  text-shadow: black 0px 0px 3px;
  transition-duration: 0.7s;
  background-image: linear-gradient(33deg, rgba(253, 169, 23, 0.85) 25%, rgba(133, 3, 0, 0.77) 25%);
  border-radius: 10% 20px;
  font-size: 20px;
}

a.css#css_phoenixml:hover {
  transition-duration: 0.7s;
  background-image: linear-gradient(33deg, rgba(253, 169, 23, 0.85) 25%, rgba(133, 3, 0, 0.77) 25%);
  border-radius: 5% 40px;
  font-size: 25px;
}

a.css#css_default {
  mix-blend-mode: exclusion;
  border: 3px groove #b9b2a8;
  text-shadow: black 0px 0px 3px;
  transition-duration: 0.7s;
  color: #7e8389;
  background-image: linear-gradient(33deg, rgb(52, 14, 46) 25%, rgba(100, 100, 100, 0.95) 25%);
  border-radius: 10% 20px;
  font-size: 20px;
}

a.css#css_default:hover {
  transition-duration: 0.7s;
  color: #7e8389;
  background-image: linear-gradient(33deg, rgb(52, 14, 46) 25%, rgba(100, 100, 100, 0.95) 25%);
  border-radius: 5% 40px;
  font-size: 25px;
}
form {
  margin-top: 15px
}
/*backgroud*/
h2{
  margin:auto;
  color:white;
  mix-blend-mode:difference;
  font-size:150px;
}p{
   margin:auto;
   color:white;
   mix-blend-mode:difference;
 }
html {
  height:100%;
}

body {
  margin:0;
}

.bg {
  animation:slide 5s ease-in-out infinite alternate;
  background-image: linear-gradient(33deg, rgba(253, 169, 23, 0.85) 25%, rgba(133, 3, 0, 0.77) 25%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:6s;
}

.bg3 {
  animation-duration:7s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(21, 109, 156, 0.68);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
/*backgroud*/


body {
  background-color: #C8C8CF;
  background-size: 400% 400%;
  transition-duration: 0.5s;
  text-align: center;
  font-size: 150%;
  margin: 0;
  display: table;
  width: 100%;
  height: 100%;
}

header {
  transition-duration: 0.2s;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #44153C;
  color: #C8C8CF;
}

section #rankings {
  justify-content: center;
}

footer {
  width: 100%;
  height: 3em;
  transition-duration: 0.8s;
  background-color: black;
  color: #C8C8CF;
  margin: 0;
  position: absolute;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h2 {
  transition-duration: 1s;

  font-size: 150%;
}

header {
  height: 10%;
  width: 100%;
}

menu #home_menu {
  padding-right: 5px;
  justify-content: space-between;
  transition-duration: 0.5s;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
}

#home_menu:hover {
  text-shadow: 1px 1px 2px #5d43f3, 0 0 1em #ffffff, 0 0 0.2em #ffffff;
  font-size: 30px;
  padding-right: 1em;
  padding-left: 1em;
  justify-content: space-between;
  transition-duration: 0.5s;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
}

menu #ranking_menu {
  padding-right: 5px;
  justify-content: space-between;
  transition-duration: 0.5s;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
}

#ranking_menu:hover {
  text-shadow: 1px 1px 2px #5d43f3, 0 0 1em #ffffff, 0 0 0.2em #ffffff;
  font-size: 30px;
  padding-right: 1em;
  padding-left: 1em;
  justify-content: space-between;
  transition-duration: 0.5s;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
}

menu #houses_menu {
  justify-content: space-between;
  transition-duration: 0.5s;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
}

#houses_menu:hover {
  text-shadow: 1px 1px 2px #5d43f3, 0 0 1em #ffffff, 0 0 0.2em #ffffff;
  font-size: 30px;
  padding-left: 1em;
  justify-content: space-between;
  transition-duration: 0.5s;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
}

menu #rules_menu {
  padding-right: 5px;
  justify-content: space-between;
  transition-duration: 0.5s;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
}

#rules_menu:hover {
  text-shadow: 1px 1px 2px #5d43f3, 0 0 1em #ffffff, 0 0 0.2em #ffffff;
  font-size: 30px;
  padding-right: 1em;
  padding-left: 1em;
  justify-content: space-between;
  transition-duration: 0.5s;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
}

menu #challenge_menu {
  padding-right: 5px;
  justify-content: space-between;
  transition-duration: 0.5s;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
}

#challenge_menu:hover {
  text-shadow: 1px 1px 2px #5d43f3, 0 0 1em #ffffff, 0 0 0.2em #ffffff;
  font-size: 30px;
  padding-right: 1em;
  padding-left: 1em;
  justify-content: space-between;
  transition-duration: 0.5s;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
}

menu #login_menu {
  padding-right: 5px;
  justify-content: space-between;
  transition-duration: 0.5s;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
}

#login_menu:hover {
  text-shadow: 1px 1px 2px #5d43f3, 0 0 1em #ffffff, 0 0 0.2em #ffffff;
  font-size: 30px;
  padding-right: 1em;
  padding-left: 1em;
  justify-content: space-between;
  transition-duration: 0.5s;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
}

li {
  padding-right: 5px;
  justify-content: space-between;
  transition-duration: 0.5s;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
}

a, a:visited, a:link, a:hover, a:active {
  text-decoration: none;
  color: #C8C8CF;
}

ul {
  justify-content: space-between;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
  word-spacing: 5em;
  border-spacing: 5em;
}

ul:hover {
  justify-content: space-between;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
  word-spacing: 5em;
  border-spacing: 5em;
}


#logo {
  transition-duration: 0.5s;
  height: 50px;
  width: 50px;
  padding-top: 15px;
}

#logo:hover {
  transition-duration: 0.5s;
  height: 60px;
  width: 60px;
  padding-top: 13px;
}

.houseIcon {
  height: 25px;
  width: 25px;
  vertical-align: text-bottom;
}

#rankings {
  background-size: 50% 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

#logoHousesPodium {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.logoPodium {

  height: 125px;
  width: 125px;
}

.logoPodiumFirst {
  height: 150px;
  width: 150px;
}

#rankingNamesUsers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: left;
  margin-left: 20%;
  margin-right: 20%;
}




