body {
  text-align: center;
  clear: both;
}
img{
  height: 50px;
  width: 50px;
}
li{
  padding:2px;
  margin:0 2px;
  border:1px solid #fff;
  display:inline-block;
  vertical-align:middle;
  text-align:left;
}
