body {
  text-align: center;
  background-color: #C8C8CF;
  font-size: 150%;
}

header{
  display: flex;
  justify-content: center;
  flex-direction: row ;
  flex-wrap: nowrap;
  background-color: #44153C;
  color : #C8C8CF ;
}

footer{
  background-color: black;
  color : #C8C8CF ;
  padding: 3%;
}

li{
  padding:2px;
  margin:0 2px;
  display:inline-flex;
  vertical-align : middle;
  text-align:center;
}

#logo{
  height: 50px;
  width: 50px;
}

#classements{
  width: 95%;
  display : flex;
  flex-direction: row;
  flex-wrap : wrap;
  justify-content : center;
}

#classements section {
  margin-top : 7% ;
  margin-bottom : 7% ;
  margin-right: 5% ;
  margin-left: 5% ;
}
