body {
  text-align: center;
  clear: both;
}

header{
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

img{
  height: 50px;
  width: 50px;
}

li{
  padding:2px;
  margin:0 2px;
  border:1px solid #fff;
  display:inline-block;
  vertical-align:middle;
  text-align:left;
}

#classements{
  display : flex;
  flex-wrap: wrap;
  justify-content: center;
}

#classements section {
  margin-right: 5% ;
  margin-left: 5% ;
}

