/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: local('Montserrat Thin'), local('Montserrat-Thin'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUQjIg1_i6t8kCHKm45_QpRxC7m0dR9pBOi.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: local('Montserrat Thin'), local('Montserrat-Thin'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUQjIg1_i6t8kCHKm45_QpRzS7m0dR9pBOi.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: local('Montserrat Thin'), local('Montserrat-Thin'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUQjIg1_i6t8kCHKm45_QpRxi7m0dR9pBOi.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: local('Montserrat Thin'), local('Montserrat-Thin'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUQjIg1_i6t8kCHKm45_QpRxy7m0dR9pBOi.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: local('Montserrat Thin'), local('Montserrat-Thin'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUQjIg1_i6t8kCHKm45_QpRyS7m0dR9pA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

#app {
  background: rgb(10,10,10);
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(10,10,10,.6),rgba(0,0,0,.9)), repeating-linear-gradient(0, transparent, transparent 2px, black 3px, black 3px),
  url('https://images.unsplash.com/photo-1506399558188-acca6f8cbf41?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=7118759521e3184778a3b5e010e202c6');
  background-size: cover;
  background-position: center;
  z-index: 1;
}

#wrapper {
  text-align: center;
}

.sub {
  color: rgb(100,220,220);
  letter-spacing: 1em;
}


/* Our mixin positions a copy of our text
directly on our existing text, while
also setting content to the appropriate
text set in the data-text attribute. */
@mixin glitchCopy {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.glitch {
  position: relative;
  color: white;
  font-size: 4em;
  letter-spacing: .5em;
  /* Animation provies a slight random skew. Check bottom of doc
  for more information on how to random skew. */
  animation: glitch-skew 1s infinite linear alternate-reverse;

  &::before{
    @include glitchCopy;
    left: 2px;
    text-shadow: -2px 0 #ff00c1;
    /* Creates an initial clip for our glitch. This works in
    a typical top,right,bottom,left fashion and creates a mask
    to only show a certain part of the glitch at a time. */
    clip: rect(44px, 450px, 56px, 0);
    /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
    with an alternating animation to keep things fresh. */
    animation: glitch-anim 5s infinite linear alternate-reverse;
  }

  &::after {
    @include glitchCopy;
    left: -2px;
    text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
    animation: glitch-anim2 1s infinite linear alternate-reverse;
  }
}

/* Creates an animation with 20 steaps. For each step, it calculates
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/
@keyframes glitch-anim {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100)+px, 9999px, random(100)+px, 0);
      transform: skew((random(100) / 100) + deg);
    }
  }
}

@keyframes glitch-anim2 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100)+px, 9999px, random(100)+px, 0);
      transform: skew((random(100) / 100) + deg);
    }
  }
}

@keyframes glitch-skew {
  $steps: 10;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      transform: skew((random(10) - 5) + deg);
    }
  }
}








body {
  background-color: #C8C8CF;
  background-size: 400% 400%;
  transition-duration: 0.5s;
  text-align: center;
  font-size: 150%;
  margin: 0;
  display: table;
  width: 100%;
  height: 100%;
}

a.css{
  transition-duration: 0.7s;
  background: #5d43f3;
  border-radius: 10% 20px;
  font-size: 20px;
}a.css:hover{
   transition-duration: 0.7s;
   background: rgba(32, 22, 86, 0.86);
   border-radius: 5% 40px;
   font-size: 25px;
 }

header {
  transition-duration: 0.2s;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #44153C;
  color: #C8C8CF;
}

section #rankings {
  justify-content: center;
}

footer {
  bottom: 0;
  width: 100%;
  padding-top: 50px;
  transition-duration: 0.8s;
  background-color: black;
  color: #C8C8CF;
  margin: 0;
  position: absolute;
  height: 70px; /* à titre d'exemple */
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h2 {
  transition-duration: 1s;

  font-size: 150%;
}

header {
  height: 10%;
  width: 100%;
}

menu #home_menu {
  padding-right: 5px;
  justify-content: space-between;
  transition-duration: 0.5s;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
}

#home_menu:hover {
  text-shadow: 1px 1px 2px #5d43f3, 0 0 1em #ffffff, 0 0 0.2em #ffffff;
  font-size: 30px;
  padding-right: 1em;
  padding-left: 1em;
  justify-content: space-between;
  transition-duration: 0.5s;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
}

menu #ranking_menu {
  padding-right: 5px;
  justify-content: space-between;
  transition-duration: 0.5s;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
}

#ranking_menu:hover {
  text-shadow: 1px 1px 2px #5d43f3, 0 0 1em #ffffff, 0 0 0.2em #ffffff;
  font-size: 30px;
  padding-right: 1em;
  padding-left: 1em;
  justify-content: space-between;
  transition-duration: 0.5s;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
}

menu #houses_menu {
  justify-content: space-between;
  transition-duration: 0.5s;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
}

#houses_menu:hover {
  text-shadow: 1px 1px 2px #5d43f3, 0 0 1em #ffffff, 0 0 0.2em #ffffff;
  font-size: 30px;
  padding-left: 1em;
  justify-content: space-between;
  transition-duration: 0.5s;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
}

menu #rules_menu {
  padding-right: 5px;
  justify-content: space-between;
  transition-duration: 0.5s;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
}

#rules_menu:hover {
  text-shadow: 1px 1px 2px #5d43f3, 0 0 1em #ffffff, 0 0 0.2em #ffffff;
  font-size: 30px;
  padding-right: 1em;
  padding-left: 1em;
  justify-content: space-between;
  transition-duration: 0.5s;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
}

menu #challenge_menu {
  padding-right: 5px;
  justify-content: space-between;
  transition-duration: 0.5s;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
}

#challenge_menu:hover {
  text-shadow: 1px 1px 2px #5d43f3, 0 0 1em #ffffff, 0 0 0.2em #ffffff;
  font-size: 30px;
  padding-right: 1em;
  padding-left: 1em;
  justify-content: space-between;
  transition-duration: 0.5s;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
}

menu #login_menu {
  padding-right: 5px;
  justify-content: space-between;
  transition-duration: 0.5s;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
}

#login_menu:hover {
  text-shadow: 1px 1px 2px #5d43f3, 0 0 1em #ffffff, 0 0 0.2em #ffffff;
  font-size: 30px;
  padding-right: 1em;
  padding-left: 1em;
  justify-content: space-between;
  transition-duration: 0.5s;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
}

li {
  padding-right: 5px;
  justify-content: space-between;
  transition-duration: 0.5s;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
}

a, a:visited, a:link, a:hover, a:active {
  text-decoration: none;
  color: #C8C8CF;
}

ul {
  justify-content: space-between;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
  word-spacing: 5em;
  border-spacing: 5em;
}

ul:hover {
  justify-content: space-between;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
  word-spacing: 5em;
  border-spacing: 5em;
}


#logo {
  transition-duration: 0.5s;
  height: 50px;
  width: 50px;
  padding-top: 15px;
}

#logo:hover {
  transition-duration: 0.5s;
  height: 60px;
  width: 60px;
  padding-top: 13px;
}

.houseIcon {
  height: 25px;
  width: 25px;
  vertical-align: text-bottom;
}

#rankings {
  background-size: 50% 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

#logoHousesPodium {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.logoPodium {

  height: 125px;
  width: 125px;
}

.logoPodiumFirst {
  height: 150px;
  width: 150px;
}

#rankingNamesUsers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: left;
  margin-left: 20%;
  margin-right: 20%;
}



