body {
  background-color: #C8C8CF;
  background-size: 400% 400%;
  transition-duration: 0.5s;
  text-align: center;
  font-size: 150%;
  margin: 0;
  display: table;
  width: 100%;
}

header {
  transition-duration: 0.2s;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #44153C;
  color: #C8C8CF;
}

section #rankings {
  justify-content: center;
}

footer {
  bottom: 0;
  width: 100%;
  padding-top: 50px;
  transition-duration: 0.8s;
  background-color: black;
  color: #C8C8CF;
  margin: 0;
  height: 100px; /* à titre d'exemple */
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/*backgroud*/
h2{
  margin:auto;
  color:white;
  mix-blend-mode:difference;
  font-size:150px;
}p{
   margin:auto;
   color:white;
   mix-blend-mode:difference;
}
html {
  height:100%;
}

body {
  margin:0;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #5c1b55 50%, #50435c 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
/*backgroud*/


h2 {
  transition-duration: 1s;

  font-size: 150%;
}

header {
  height: 10%;
  width: 100%;
}

menu #home_menu {
  padding-right: 5px;
  justify-content: space-between;
  transition-duration: 0.5s;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
}

#home_menu:hover {
  text-shadow: 1px 1px 2px #5d43f3, 0 0 1em #ffffff, 0 0 0.2em #ffffff;
  font-size: 30px;
  padding-right: 1em;
  padding-left: 1em;
  justify-content: space-between;
  transition-duration: 0.5s;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
}

menu #ranking_menu {
  padding-right: 5px;
  justify-content: space-between;
  transition-duration: 0.5s;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
}

#ranking_menu:hover {
  text-shadow: 1px 1px 2px #5d43f3, 0 0 1em #ffffff, 0 0 0.2em #ffffff;
  font-size: 30px;
  padding-right: 1em;
  padding-left: 1em;
  justify-content: space-between;
  transition-duration: 0.5s;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
}

menu #houses_menu {
  justify-content: space-between;
  transition-duration: 0.5s;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
}

#houses_menu:hover {
  text-shadow: 1px 1px 2px #5d43f3, 0 0 1em #ffffff, 0 0 0.2em #ffffff;
  font-size: 30px;
  padding-left: 1em;
  justify-content: space-between;
  transition-duration: 0.5s;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
}

menu #rules_menu {
  padding-right: 5px;
  justify-content: space-between;
  transition-duration: 0.5s;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
}

#rules_menu:hover {
  text-shadow: 1px 1px 2px #5d43f3, 0 0 1em #ffffff, 0 0 0.2em #ffffff;
  font-size: 30px;
  padding-right: 1em;
  padding-left: 1em;
  justify-content: space-between;
  transition-duration: 0.5s;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
}

menu #challenge_menu {
  padding-right: 5px;
  justify-content: space-between;
  transition-duration: 0.5s;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
}

#challenge_menu:hover {
  text-shadow: 1px 1px 2px #5d43f3, 0 0 1em #ffffff, 0 0 0.2em #ffffff;
  font-size: 30px;
  padding-right: 1em;
  padding-left: 1em;
  justify-content: space-between;
  transition-duration: 0.5s;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
}

menu #login_menu {
  padding-right: 5px;
  justify-content: space-between;
  transition-duration: 0.5s;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
}

#login_menu:hover {
  text-shadow: 1px 1px 2px #5d43f3, 0 0 1em #ffffff, 0 0 0.2em #ffffff;
  font-size: 30px;
  padding-right: 1em;
  padding-left: 1em;
  justify-content: space-between;
  transition-duration: 0.5s;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
}

li {
  padding-right: 5px;
  justify-content: space-between;
  transition-duration: 0.5s;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
}

a, a:visited, a:link, a:hover, a:active {
  text-decoration: none;
  color: #C8C8CF;
}

ul {
  justify-content: space-between;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
  word-spacing: 5em;
  border-spacing: 5em;
}

ul:hover {
  justify-content: space-between;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
  word-spacing: 5em;
  border-spacing: 5em;
}


#logo {
  transition-duration: 0.5s;
  height: 50px;
  width: 50px;
  padding-top: 15px;
}

#logo:hover {
  transition-duration: 0.5s;
  height: 60px;
  width: 60px;
  padding-top: 13px;
}

.houseIcon {
  height: 25px;
  width: 25px;
  vertical-align: text-bottom;
}

#rankings {
  background-size: 50% 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

#logoHousesPodium {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.logoPodium {

  height: 125px;
  width: 125px;
}

.logoPodiumFirst {
  height: 150px;
  width: 150px;
}

#rankingNamesUsers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: left;
  margin-left: 20%;
  margin-right: 20%;
}


